.mainIndexNoticeUl{
	padding:10px 0px 0px 0px;
	margin:0px;
}
.mainIndexNoticeLi{
	padding: 5px 0px 5px 20px;
	list-style:none;
	cursor: pointer;
	font-weight: 400;
	color:#666666;
	outline: none !important;
    outline-offset: 0px !important;
    display: -webkit-flex; /* Safari */
  	display: flex;
}

.mainIndexNoticeLi a{
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1; 
	width: 80%;
}
.mainIndexNoticeLi span{
	width: 100px;
    text-align: center;
}

.mainIndexNoticeLi:hover{
	color:#03a9f4;
}

