.rightTreeIconCls{
    width: 16px;
    height: 16px;
    top: 8px;
    left: 10px;
}

.icon_accessControl
{
    background-image: url(../images/icon/index_accessControl.png) !important;
    background-size: cover;
}


.icon_appUpdate
{
    background-image: url(../images/icon/index_appUpdate.png) !important;
    background-size: cover;
}


.icon_baseCampus
{
    background-image: url(../images/icon/index_baseCampus.png) !important;
    background-size: cover;
}

.icon_baseDevice
{
    background-image: url(../images/icon/index_baseDevice.png) !important;
    background-size: cover;
}

.icon_baseFrontServer
{
    background-image: url(../images/icon/index_baseFrontServer.png) !important;
    background-size: cover;
}

.icon_baseGateway
{
    background-image: url(../images/icon/index_baseGateway.png) !important;
    background-size: cover;
}

.icon_baseRate
{
    background-image: url(../images/icon/index_baseRate.png) !important;
    background-size: cover;
}

.icon_basetSmartDevice
{
    background-image: url(../images/icon/index_basetSmartDevice.png) !important;
    background-size: cover;
}

.icon_caidanguanli
{
    background-image: url(../images/icon/index_caidanguanli.png) !important;
    background-size: cover;
}

.icon_caidanshouquan
{
    background-image: url(../images/icon/index_caidanshouquan.png) !important;
    background-size: cover;
}

.icon_classElegant
{
    background-image: url(../images/icon/index_classElegant.png) !important;
    background-size: cover;
}

.icon_classMotto
{
    background-image: url(../images/icon/index_classMotto.png) !important;
    background-size: cover;
}

.icon_classRedFlag
{
    background-image: url(../images/icon/index_classRedFlag.png) !important;
    background-size: cover;
}

.icon_classStar
{
    background-image: url(../images/icon/index_classStar.png) !important;
    background-size: cover;
}

.icon_climateControl
{
    background-image: url(../images/icon/index_climateControl.png) !important;
    background-size: cover;
}

.icon_deviceAllot
{
    background-image: url(../images/icon/index_deviceAllot.png) !important;
    background-size: cover;
}

.icon_dkTermStatus
{
    background-image: url(../images/icon/index_dkTermStatus.png) !important;
    background-size: cover;
}

.icon_eccClass
{
    background-image: url(../images/icon/index_eccClass.png) !important;
    background-size: cover;
}

.icon_eccSet
{
    background-image: url(../images/icon/index_eccSet.png) !important;
    background-size: cover;
}

.icon_elecCount
{
    background-image: url(../images/icon/index_elecCount.png) !important;
    background-size: cover;
}

.icon_infoTerm
{
    background-image: url(../images/icon/index_infoTerm.png) !important;
    background-size: cover;
}

.icon_IR_Dever
{
    background-image: url(../images/icon/index_IR_Dever.png) !important;
    background-size: cover;
}

.icon_IR_roomDevice
{
    background-image: url(../images/icon/index_IR_roomDevice.png) !important;
    background-size: cover;
}

.icon_jiaoseguanli
{
    background-image: url(../images/icon/index_jiaoseguanli.png) !important;
    background-size: cover;
}

.icon_JLCS
{
    background-image: url(../images/icon/index_JLCS.png) !important;
    background-size: cover;
}

.icon_jobInfo
{
    background-image: url(../images/icon/index_jobInfo.png) !important;
    background-size: cover;
}

.icon_mjOpenDoor
{
    background-image: url(../images/icon/index_mjOpenDoor.png) !important;
    background-size: cover;
}

.icon_oaNotice
{
    background-image: url(../images/icon/index_oaNotice.png) !important;
    background-size: cover;
}

.icon_powerResidue
{
    background-image: url(../images/icon/index_powerResidue.png) !important;
    background-size: cover;
}

.icon_reportCenter
{
    background-image: url(../images/icon/index_reportCenter.png) !important;
    background-size: cover;
}

.icon_roomAccessInfo
{
    background-image: url(../images/icon/index_roomAccessInfo.png) !important;
    background-size: cover;
}

.icon_roomAllot
{
    background-image: url(../images/icon/index_roomAllot.png) !important;
    background-size: cover;
}

.icon_roomBagRule
{
    background-image: url(../images/icon/index_roomBagRule.png) !important;
    background-size: cover;
}

.icon_roomBagStatus
{
    background-image: url(../images/icon/index_roomBagStatus.png) !important;
    background-size: cover;
}

.icon_roomDefine
{
    background-image: url(../images/icon/index_roomDefine.png) !important;
    background-size: cover;
}

.icon_roomInfo
{
    background-image: url(../images/icon/index_roomInfo.png) !important;
    background-size: cover;
}

.icon_roomTerm
{
    background-image: url(../images/icon/index_roomTerm.png) !important;
    background-size: cover;
}

.icon_schoolCalendar
{
    background-image: url(../images/icon/index_schoolCalendar.png) !important;
    background-size: cover;
}

.icon_schoolInfo
{
    background-image: url(../images/icon/index_schoolInfo.png) !important;
    background-size: cover;
}

.icon_shujuzidian
{
    background-image: url(../images/icon/index_shujuzidian.png) !important;
    background-size: cover;
}

.icon_skTermStatus
{
    background-image: url(../images/icon/index_skTermStatus.png) !important;
    background-size: cover;
}

.icon_smartControl
{
    background-image: url(../images/icon/index_smartControl.png) !important;
    background-size: cover;
}

.icon_studentManager
{
    background-image: url(../images/icon/index_studentManager.png) !important;
    background-size: cover;
}

.icon_sysPerimission
{
    background-image: url(../images/icon/index_sysPerimission.png) !important;
    background-size: cover;
}

.icon_taskDetail
{
    background-image: url(../images/icon/index_taskDetail.png) !important;
    background-size: cover;
}

.icon_teacherManager
{
    background-image: url(../images/icon/index_teacherManager.png) !important;
    background-size: cover;
}

.icon_termSN
{
    background-image: url(../images/icon/index_termSN.png) !important;
    background-size: cover;
}

.icon_userAccess
{
    background-image: url(../images/icon/index_userAccess.png) !important;
    background-size: cover;
}


.icon_userAccessInfo
{
    background-image: url(../images/icon/index_userAccessInfo.png) !important;
    background-size: cover;
}

.icon_waterCount
{
    background-image: url(../images/icon/index_waterCount.png) !important;
    background-size: cover;
}

.icon_waterMeter
{
    background-image: url(../images/icon/index_waterMeter.png) !important;
    background-size: cover;
}

.icon_yonghuguanli
{
    background-image: url(../images/icon/index_yonghuguanli.png) !important;
    background-size: cover;
}

.icon_zuzhijiagou
{
    background-image: url(../images/icon/index_zuzhijiagou.png) !important;
    background-size: cover;
}

.icon_studentDorm
{
    background-image: url(../images/icon/index_studentDorm.png) !important;
    background-size: cover;
}

.icon_teacherDorm
{
    background-image: url(../images/icon/index_teacherDorm.png) !important;
    background-size: cover;
}

.icon_jichu
{
    background-image: url(../images/icon/jichu_icon.png) !important;
    background-size: cover;
}

.icon_xitong
{
    background-image: url(../images/icon/xitong_icon.png) !important;
    background-size: cover;
}

.icon_moreMenu
{
    background-image: url(../images/icon/index_moreMenu.png) !important;
    background-size: cover;
}
