#app-header{
    background-color:$app-head-bgcolor;
    border-bottom:1px solid $app-head-border-color !important;
}

.toolbar-btn-shadow {
    box-shadow: 0 1px 2px rgba(13, 18, 24, 0.2);
}

#app-header-title {
    color: #fff;
    font-size: 18px;
    margin:0;
    padding:0;
    top:17px !important;
}
#app-header-title .index_logo{
	margin: 0px 10px;
	float:left;
}
#app-header-title .index_title{
	margin-top: 8px;
	float:left;
}

.appHeader-btnTbar{
    left:8px !important;
}


.core-header-button
{
    border:none;
    background:none;
}

.header-button-color{
    color:#fff;
}

.index_welcome{
	font-size:20px;
	color:#fff;
	line-height:40px;
	//margin-top:5px;
	font-family: '微软雅黑';
    font-weight:400;
}
.index_welcome img{
	margin-top: 10px;
    margin-right: 5px;
    float: left;
    width:20px;
}
.index_welcome span{
	color:#fff;
	font-size:14px;
	float: left;
}


.core-header-menu{
	background-color: $app-menu-header-bgcolor;
    font-family: '微软雅黑';
    font-weight:400;
}



.core-header-icon-size20
{
    width:20px !important;
    height:20px !important;
    margin-right: auto;
    margin-left: auto;
}
.core-header-icon-size50
{
    width:50px !important;
    height:50px !important;
    margin-right: auto;
    margin-left: auto;
}
.core-header-icon-size64
{
    width:64px !important;
    height:64px !important;
    margin-right: auto;
    margin-left: auto;
}